/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #000;
  color: #fff;
  font-family: Menlo, Monaco, "Lucida Console", monospace, sans-serif;
  line-height: 1.7;
  text-align: justify;
  padding: 2rem;
  margin: 0 auto;
  max-width: 750px;
}

/* Titres */
h1, h2, h3, h4, h5, h6 {
  color: #fff;
  margin-bottom: 0.5rem;
  line-height: 1.2;
}

h1 { font-size: 2.25rem; }
h2 { font-size: 1.85rem; }
h3 { font-size: 1.55rem; }
h4 { font-size: 1.25rem; }
h5 { font-size: 1rem; }
h6 { font-size: .875rem; }

/* Paragraphes et listes */
p, li {
  margin-bottom: 1rem;
  line-height: 2;
}

ol, ul {
  padding-left: 2rem;
}

li {
  margin-top: 0.4rem;
}

/* Liens */
a {
  color: #9b6ff5;
  text-decoration: underline dashed;
  text-decoration-thickness: 1.25px;
  text-underline-offset: 0.35em;
}

a:hover, a:focus {
  text-decoration-style: solid;
  text-decoration-thickness: 2.5px;
  color: #c79df7;
}

/* Images */
img {
  max-width: 100%;
  height: auto;
}

/* Citations */
blockquote {
  padding: 1rem;
  background: #111;
  border-left: 5px solid #222;
  margin-bottom: 1rem;
}

/* Code */
pre, code, kbd, samp {
  font-family: Consolas, monospace;
  background: #111;
  color: #fff;
  border: 1px solid #222;
  border-radius: 4px;
  padding: 4px 6px;
}

pre {
  padding: 1rem;
  overflow-x: auto;
}

/* Tableaux */
table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #333;
  padding: 0.5rem;
}

th {
  background: #111;
}

/* Formulaires */
input, textarea, select, button {
  background: #111;
  color: #fff;
  border: 1px solid #333;
  padding: 6px 12px;
  border-radius: 4px;
}

button {
  background: #9b6ff5;
  color: #fff;
  cursor: pointer;
  border: none;
}

button:hover {
  background: #c79df7;
}
